{% extends 'creator/base.html' %}
{% block CSS %}
    {{block.super}}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/creator/article.css" />
{% endblock %}
{% block JS %}
        {{block.super}}
    <script type="text/javascript">
        function show_hide_members(id){
            var stuff = document.getElementsByClassName('member' + id);
            for (var i = 0; i < stuff.length; i++){
                if (stuff[i].style.display == 'none'){
                    stuff[i].style.display = '';
                }else{
                    stuff[i].style.display = 'none';
                }
            }
        }
    </script>
{% endblock %}
{% block main %}
    <h2>مشاهده پیام ها</h2><br/>
    <table class="art_table">
    {% for array in notifications %}
            <tr class="group-title" style="cursor: pointer;"
                onclick="show_hide_members('{{ array.0.type }}');">
                <td><span>پيام هاي نوع {{ array.0.type }}</span><span> - {{ array|length }} مورد</span></td>
            </tr>
            <tr class="member{{ array.0.type }}" style="display: none; font-weight: bold;">
                <td class="group-member">عنوان پیام</td>
                <td class="group-member">تاریخ ایجاد</td>
                <td class="group-member">درجه اهمیت</td>
            </tr>
                {% for obj in array %}
                    <tr class="member{{ array.0.type }}" style="display: none;">
                        <td class="group-member">
                            <a href="{% url notifications/description obj.id %}">{{ obj.name }}</a>
                        </td>
                        <td class="group-member">{{ obj.created_at }}</td>
                        <td class="group-member">
                            {% if obj.level == "W" %}<span style="color:#a52a2a;">اخطار</span>
                            {% else %}{% if obj.level == "I" %}<span style="color:green;">اطلاعات</span>
                            {% else %}{% if obj.level == "E" %}<span style="color:red;">خطا</span>
                            {% endif %}{% endif %}{% endif %}
                        </td>
                    </tr>
                {% endfor %}
    {% empty %}
        <tr><td>در حال حاضر هیچ پیامی برای شما وجود ندارد.</td></tr>
    {% endfor %}
    </table>
        <!-- TODO: adding condition "if array|length > 3" for showing in groups -->
    <br />
{% endblock %}