.mail-tag {
    background: none repeat scroll 0 0 #3E1866;
    -moz-transition: all 0.3s ease-in 0s;
    color: white;
    padding: 2px 5px;
    text-decoration: none;
    font-weight: bold;

    border: 0 none;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
}

.mail-tag:hover{
    color: #f4c239;
    background-color: #3E1877;
}

.inline {
    display: inline-block;
}

.Center {
    text-align: center;
}

.center {
    text-align: center;
}

.rtl {
    direction: rtl;
}

.ltr {
    direction: ltr;
}

.padded-normal {
    padding: 5px 10px;
}

.bordered {
    border: 1px solid black;
}

.blue-box {
    margin: 5px 20%;
    padding: 5px;
    box-shadow: 5px 5px 5px #CCF;
    border: 1px solid #00F;
}

.small-blue-box {
    margin: 5px 30%;
    padding: 5px;
    box-shadow: 5px 5px 5px #CCF;
    border: 1px solid #00F;
}

.hidden {
    display: none;
}

.icon {
    display: inline-block;
    cursor: pointer;
}

.list-item {
    margin: 0 5px;
}

.bold {
    font-weight: bold;
}

.thread-title {
    font-weight: bold;
    margin-left: 50px;
}

.mail {
    box-shadow: 3px 2px 3px #888888;
    margin: 10px 0;
    padding: 5px 10px;
}

.mail-header {
    background-color: #EBEBF5;
    margin: -5px -10px 5px;
    padding: 5px 5px;
}

.mail-sender {
    color: #F26D1B;
    font-weight: bold;
}

.mail-date {
    float: left;
}

.thread {

}

.to-icon a {
    color: green;
}

.cc-icon a {
    color: black;
}

.bcc-icon a {
    color: gray;
}

.sidebar-labels-list {
    padding: 10px 20px;
}

.sidebar-labels-list a{
    text-decoration: none;
    font-weight: bold;
    -moz-transition: all 0.1s ease-in 0s;
}

.sidebar-labels-list a:hover {
    color: #FFB01F;
}
