<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="{{ IMAGES_URL }}favicon.ico" rel="shortcut icon">
		<title>{% block title %} ARSH {% endblock title %}</title>


        {% block CSS %}
		{% endblock CSS %}

        <script type='text/javascript' src="{{ STATIC_URL }}js/jquery-1.7.1.min.js"></script>
        <script type='text/javascript' src="{{ STATIC_URL }}js/jquery-ui-1.8.17.custom.min.js"></script>
        <script type='text/javascript' src="{{ STATIC_URL }}js/csrf.js"></script>
        {% block JS %}
		{% endblock JS %}
	</head>

    <body style="direction: rtl">
        <div style="display: inline-block; width: 30%; vertical-align: top;">
            {% block sidebar %}
            {% endblock %}
        </div>

        <div style="display: inline-block; width: 69%; vertical-align: top;">
            {% block content %}
            {% endblock %}
        </div>

		<div style="text-align: center">
			<a href="http://arsh.co">
				<img src="/static/images/arsh_footprint.png"/>
			</a>
		</div>
	</body>
</html>
