<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<link href="{{ IMAGES_URL }}favicon.ico" rel="shortcut icon">
		<title>{% block title %} ARSH {% endblock title %}</title>


{#        <link rel="stylesheet" href="{{ CSS_URL }}style.css" type="text/css" media="screen" />#}
        {% block CSS %}
		{% endblock CSS %}

        <script type='text/javascript' src="{{ JS_URL }}jquery-1.7.1.min.js"></script>
        <script type='text/javascript' src="{{ JS_URL }}jquery-ui-1.8.17.custom.min.js"></script>
        <script type='text/javascript' src="{{ JS_URL }}csrf.js"></script>
        {% block JS %}
		{% endblock JS %}
	</head>

	<body>
		{% block content %}
		{% endblock content %}

		<div style="text-align: center">
			<a href="http://arsh.co">
				<img src="/static/images/arsh_footprint.png"/>
			</a>
		</div>
	</body>
</html>
