<!DOCTYPE html>
{% load layout %}
{% load url from future %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link href="{% static_url 'images/icon/rc.png' %}" rel="shortcut icon">
    <title>
        سامانه پیام رسانی
    </title>
    {% block HEAD %}{% endblock %}

    {# Common CSS files #}
    {% css 'lib/arsh/css/std.css' %}
    {% css 'common' %}
    {% css 'forms' %}
    {% css 'layout' %}
    {% css 'fonts' %}
    {% css 'rtl' %}
    {# Third Party CSS files #}
    {% css 'bower_components/jquery-ui/themes/base/minified/jquery-ui.min.css' %}
    {% css 'lib/pnotify/jquery.pnotify.default.css' %}
    {# Page CSS files #}
    {% block CSS %}{% endblock %}
    {% block css %}{% endblock %}
    {% css 'style' %}

    {# Base JS libraries #}
    {% js 'lib/underscore.js' %}
    {% js 'bower_components/jquery/jquery.min.js' %}
    {% js 'bower_components/jquery-ui/ui/minified/jquery-ui.min.js' %}
    {% js 'lib/pnotify/jquery.pnotify.js' %}
    {# Arsh JS library files #}
    {% js 'lib/arsh/js/arsh.js' %}
    {% js 'lib/arsh/js/connectors.js' %}
    {% js 'lib/arsh/js/csrf.js' %}
    {% js 'lib/arsh/js/django.js' %}
    {% js 'auto/url_resolver' %}
    {% js 'auto/translator' %}
    {# Common JS files #}
    {#{% js 'js/warehouse/jquery.formset.js' %}#}
    {# Page JS files #}
    {% block JS %}{% endblock %}
    {% block js %}{% endblock %}

    {% block extra_headers %}{% endblock extra_headers %}
</head>

<body>{% block BODY %}
    <div id="page">
        <img src="/static/mail/images/back-bg2.jpg" id="background-image" />
        <div id="header">
            <div class="site-name">عرش میل</div>
            <div class="site-desc">ما میل شما را به عرش می‌بریم</div>
        </div>
        <div id="sidebar">{% block SIDEBAR %}

        {% endblock SIDEBAR %}</div>
        <div id="content-box">{% block CONTENT %}

            {% block HEADER %}<h2 id="header2" class="fa-titr">{% block header %}{% endblock header %}</h2>{% endblock %}
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        {% endblock CONTENT %}</div>
    </div>
{% block jscode %}{% endblock %}
{% endblock BODY %}</body>
</html>
