{% extends 'mail/mail_template.html' %}

{% load layout i18n%}
{% load url from future %}
{% load rich_form_template_tags %}
{% load crispy_forms_tags %}
{% load i18n %}



{% block content %}
    {% if contacts %}
        <div class="panel-group" id="accordion">
             {%  for contact in contacts %}
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{ contact.id }}">
              {{ contact.display_name }}
            </a>
          </h4>
        </div>
        <div id="collapse{{ contact.id }}" class="panel-collapse collapse ">
          <div class="panel-body">
              <button id="{{ contact.id }}" class="btn btn-primary" onclick="edit(id)">  ویرایش</button>
              <table class="table table-bordered table-striped">
                  <tbody>
                    <tr>
                        <td>نام  </td>
                        <td>
                            <a href="#" class="myeditable{{ contact.id }}" id="firstname" data-type="text"  data-pk="{{ contact.id }}"  data-title="Enteruser name" >{{ contact.first_name }}</a>
                        </td>
                    </tr>
                  <tr>
                        <td>نام خانوادگی </td>
                        <td>
                            <a href="#" class="myeditable{{ contact.id }}" id="lastname" data-type="text" data-pk="{{ contact.id }}"  data-title="Enter username">{{ contact.last_name }}</a>
                        </td>
                    </tr>
                  <tr>
                        <td> آدرس پست الکترونیکی</td>
                        <td>
                            <a href="#" class="myeditable{{ contact.id }}" id="email" data-type="email" data-pk="{{ contact.id }}" data-title="Enter username">{{ contact.email }}</a>
                        </td>
                    </tr>
                  <tr>
                       <td> آدرس پست الکترونیکی دیگر </td>
                        <td>
                            <a href="#" class="myeditable{{ contact.id }}" id="ex_email" data-type="text" data-pk="{{ contact.id }}" data-title="Enter username">{{ contact.additional_email }}</a>
                        </td>
                    </tr>
                  </tbody>
              </table>

          </div>
        </div>
      </div>
   {% endfor %}
        </div>
    {% else %}
        <div class="alert alert-danger">
            هنوز هیچ اطلاعات تماسی وارد نشده است
        </div>
    {% endif %}
{% endblock content %}

{% block CSS %}
    {{ block.super }}
    {% css     'bower_components/bootstrap-editable/css/bootstrap-editable.css' %}
{% endblock %}

{% block JS %}
    {{ block.super }}
    {% js 'bower_components/bootstrap-editable/js/bootstrap-editable.min.js' %}
    {% js 'mail/addressbook/editable.js' %}
    <script>
        function edit(pk){
       $(".myeditable"+pk).editable(
        {
        toggleDisabled : true,
        type: "text",
        url: '/edit/addressbook'

        });

        }
    </script>
{% endblock %}