{% extends 'mail/mail_template.html' %}

{% load layout i18n%}
{% load url from future %}
{% load crispy_forms_tags %}
{% load rich_form_template_tags %}


{% block css %}
    {{ block.super }}
    {% css 'lib/pen/src/pen.css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
    {{ mailForm.media }}
    {% load_rich_form_required_statics %}
    {% js 'lib/pen/src/pen.js' %}
    {% js 'lib/pen/src/markdown.js' %}
    {% js 'mail/compose.js' %}
    {% js 'js/dropzone.js' %}

{% endblock %}

{% block content %}
    <style>
        .pen {
            background-color: #FFF;
            margin-right: 80px;
            padding: 10px;
            min-height: 175px;
            width: 60%;
        }

        .pen, .pen * {
            font-family: BYekan, "B Nazanin", BNazanin, Tahoma, serif;
            font-size: 16px;
        }
    </style>

    <div id="compose-mail">
       <h2>  ارسال رایانامه  </h2>
        {% if send_error %}
            <div class="error-bar">{{ send_error }}</div>
        {% endif %}

        <input type="hidden" id="user-id" value="{{ user.id }}">
        <form id="compose-form" class="mail-form" method='POST' enctype="multipart/form-data">
            {% csrf_token %}
            {% crispy mailForm mailForm.helper %}
        </form>
    </div>
{% endblock %}
