{% extends 'mail/mail_template.html' %}

{% block JS %}
    {{ block.super }}
    {{ mailForm.media }}
{% endblock %}

{% block content %}
<h2>ارسال پیام به سایر کاربران</h2>

{{form.errors}}
	<form method='POST'>
		{% csrf_token %}
		<label for="receivers">به: (نام کاربری)</label><input type='text' id="receivers" name='recipients' value="{{ initial_to }}"/><br/>
        <label for="cc">رونوشت:</label><input type='text' id="cc" name='cc' value="{{ initial_cc }}"/><br/>
        <label for="bcc">ارسال مخفی:</label><input type='text' id="bcc" name='bcc' value="{{ initial_bcc }}"/><br/>
		{{mailForm.as_p}}
		<input type='submit' value='ارسال' />
	</form>
{% endblock %}
