{% extends 'mail/mail_template.html' %}
{% load shamsi %}
{% load mail %}
{% load user_manager %}
{% load url from future %}

{% block JS %}
    {{ block.super }}
    <script>
        $(function(){
            arsh.connectors.data_table.create('#threads', {
                bLengthChange: false,
                bSort: true});

            // انتقال فیلتر باکس به سایدبار صفحه!
            $('#search-input-div').html('');
            $('#threads_filter').css('float', 'none').css('text-align', 'center').appendTo($('#search-input-div'));
            $('#threads_filter input').attr('name', 'keywords');
        });
    </script>
{% endblock %}


{% block content %}
    <h2>{{ label }}</h2>
    <div class="bordered padded-normal" id="action-bar">
        {% if archive %}
            <button onclick="window.location='.'">جدید</button>
        {% else %}
            <button onclick="window.location='archive'">آرشیو</button>
        {% endif %}
    </div>
    <br/>
    <table id="threads" class="fa threads-table">
        <thead class="hidden">
            <tr>
                <th></th>
                <th>عنوان</th>
                <th>خلاصه</th>
                {% for header in env.headers %}
                <th>{{ header }}</th>
                {% endfor %}
                <th>تاریخ</th>
            </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr class="warehouse-kashan tag-drafts tag-listserv">
                <td class="Center" style="width: 20px;"><input type="checkbox" class="thread-checkbox" value="{{ thread.id }}" /></td>
                <td style="width: 20%;"><a href='{% url 'mail/see_thread_direct' thread.slug %}'>{{ thread }}</a></td>
                <td style="width: 40%;">
                    {% for l in thread.user_labels %}
                        <span class="mail-tag">{{ l }}</span>
                    {% endfor %}
                    {{ thread.firstMail.get_summary|striptags }}
                </td>
                {% for row in thread.rows %}
                    <td>{{ row }}</td>
                {% endfor %}
                <td class="Center">{{ thread.firstMail.created_at|relative }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
