{% extends 'mail/mail_template.html' %}
{% load mail %}
{% load user_manager%}
{% load config_helper%}
{% load date_maker %}
{% load url from future %}
{% load shamsi_template_tags %}
{% load shamsi %}

{% block js %}
    {{ block.super }}
    <script type="text/javascript">
        mailSystem.setView('threads');
    </script>
{% endblock %}

{% block content %}
    <table id="threads" class="threads-table">
        {% if CONFIG.SHOW_THREAD_TABLE_HEADER %}
        <thead>
            <tr>
                <th></th>
                <th>فرستنده</th>
                <th>عنوان</th>
                <th>خلاصه</th>
                {% for header in env.headers %}
                    <th>{{ header }}</th>
                {% endfor %}
                <th>{{ 'thread-date'|get_configured_title }}</th>
            </tr>
        </thead>
        {% endif %}
        <tbody>
        {% for thread in threads %}
            <tr class="{% if thread.is_unread %}unread{% else %}read{% endif %}">
                <td style="width: 3%;">
                    <input type="checkbox" class="thread-checkbox" value="{{ thread.id }}"/><label></label>
                </td>
                <td class="sender-name" style="width: 20%;">
                    <span data-contact-user-id="{{ thread.firstMail.sender_id }}">{{ thread|get_thread_senders:user }}</span>
                    <a href="" class="archive-ico"></a>
                </td>
                <td class="thread-info" style="width: 60%;">
                    <a href="{% if label %}{% url 'mail/see_thread' label_slug=label.slug thread_slug=thread.slug %}{% else %}{% url 'mail/see_thread_direct' thread_slug=thread.slug %}{% endif %}">
                        <span class="subject">{{ thread }}</span> <span>-</span>
                        {% for l in thread.user_labels %}
                            <span class="mail-tag">{{ l }}</span>
                        {% endfor %}
                        <span>{{ thread.firstMail.get_summary }}</span>
                    </a>
                </td>
                {% for row in thread.rows %}
                    <td>{{ row }}</td>
                {% endfor %}
                <td class="center thread-date" style="width: 15%;">
                    {{ thread.get_last_mail.created_at|relative}}
                </td>
            </tr>
        {% empty %}
            <tr><td colspan="5" class="center">نامه‌ای ندارید...</td></tr>
        {% endfor %}
        </tbody>
    </table>

    <div style="display: none">
        <input type="hidden" id="current_label" value="{{ label.id }}" data-slug="{{ label.slug }}" data-title="{{ label.title }}">
    </div>
{% endblock %}
