{% extends 'base_bootstrap.html' %}
{% load mail layout i18n %}
{% load url from future %}


{% block js %}
    <script type='text/javascript' src="{{ STATIC_URL }}lib/datatables/datatables.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}mail/mail.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}lib/arsh/js/connectors.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/multiple-file-upload/jquery.form.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/multiple-file-upload/jquery.MetaData.js"></script>
    <script type='text/javascript' src="{{ STATIC_URL }}js/multiple-file-upload/jquery.MultiFile.js"></script>
    {% js 'bower_components/blockui/jquery.blockUI.js' %}
    <script type="text/javascript" src="{{ STATIC_URL }}lib/select2/select2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}lib/select2/select2_locale_fa.js"></script>

    {% js 'mail/base.js' %}
    {% js 'mail/ui.js' %}
    {% js 'mail/loader/loader.js' %}
    {% js 'mail/toolbar/toolbar.js' %}
    {% js 'mail/mail_client.js' %}
    {% js 'mail/client.js' %}
    {% js 'mail/contact.js' %}
    {% js 'mail/label.js' %}

    <script type="text/javascript">
        mailSystem.state.onlyShowNewMail = {% if archive %}false{% else %}true{% endif %};
    </script>
{% endblock %}

{% block css %}
    {{ block.super }}
    {% css 'lib/datatables/datatables.css' %}
    {% css 'lib/select2/select2.css' %}
    {% css 'mail/css/mail.css' %}
    {% css 'mail/css/style.css' %}
    {% css 'mail/toolbar/toolbar.css' %}
    {% css 'mail/loader/loader.css' %}

    {% css 'rich_form_css_custom' %}

{% endblock %}

{% block SIDEBAR %}
    <div>
        <a id="compose-button" href="{% url 'mail/compose' %}" class="aui-btn btn-narrow-red">رایانامه جدید</a>
        <a id="refresh-button" href="#" class="aui-btn btn-narrow-reload"></a>
    </div>
    {% label_list user label.title %}
    <form method='POST' id="mail_search_form" action="{% url 'mail/search' %}">
        {% csrf_token %}
        <input id="mail-search-input" type="text" value="{{ search_exp }}" name="keywords" placeholder="جستجو" style="width: 130px; float: right"/>
    </form>
    <div id="search_help_icon" title="راهنما" onclick="$('#search_help').show();"></div>
    <hr/>
    <br>
    <div id="search_help">
    <label>راهنمای جستجو</label>
        <br>
    جستجوی نامه بر اساس فرستنده، گیرنده، عنوان، محتوا و برچسب عمل میکند.
        <br>
درصورتیکه بخواهید نامه ای را براساس چند مورد از موارد بالا جستجو کنید، بین هرکدام کاراکتر ‘ ; ‘ قرار دهید.
        <br>
در جستجو بر اساس برچسب، با جداکردن نام برچسبها به کمک " ، " نامه ای که حداقل یکی از برچسبهای ذکر شده را داشته باشد، میابد.
        <br>
مثالی از نحوه وارد کردن عبارت جستجو:
        <br>
از:admin ; به:سارا ; عنوان:تست ; محتوا:سلام ; برچسب:علاقه مندی ها، مهم، صندوق ورودی
    </div>
    <div id="fast-filter-box">
    </div>
{% endblock %}

{% block CONTENT %}
    <div id="action-bar">
        {{ env.header }}
        {# toolbar will be added here by mailToolbar object #}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>
{% endblock %}
