{% extends 'mail/mail_template.html' %}

{% load layout i18n%}
{% load url from future %}
{% load rich_form_template_tags %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block content %}
    <table id="user" class="table table-bordered table-striped" style="clear: both" >
                <tbody>
                {% for il in init_label %}
                    <tr>
                    <td > {{ il.title }}</td>
{#                    <td > show /hide </td>#}
                    </tr>
                {% endfor %}
                 {% for l in labels %}
                    <tr id={{ l.id }} >
                    <td > <span class="name" data-type="text" data-url="/manage-label/" data-pk="{{ l.id }}" data-toggle-name="ویرایش"> {{ l.title }} </span> </td>
{#                    <td > show /hide </td>#}
                    <td ><span class="glyphicon glyphicon-trash confirmModal" style="cursor: pointer" data-pk="{{ l.id }}"></span></td>
                    <td ><span class="glyphicon glyphicon-edit" style="cursor: pointer"></span></td>

                    </tr>
                {% endfor %}
                </tbody>
            </table>
{% endblock content %}

{% block CSS %}
    {{ block.super }}
    {% css     'bower_components/bootstrap-editable/css/bootstrap-editable.css' %}
{% endblock %}

{% block js %}
    {{ block.super }}
     {% js 'bower_components/bootstrap-editable/js/bootstrap-editable.min.js' %}
     {% js 'mail/managelabel/managelabel.js' %}
     {% js 'mail/base.js' %}
      <script type="text/javascript">
      </script>
{% endblock js %}